{% extends 'base.html' %} {% block content %}
<main class="container py-5">
  <section class="card card-body">
    <h1 class="display-1 text-center">Django App</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora repellat
      similique magnam natus id aliquid dolorum accusantium corporis veritatis,
      quas libero hic voluptatibus quibusdam ab placeat quos aspernatur, numquam
      culpa! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut,
      aperiam iste? Quaerat veniam sunt sint, iste architecto blanditiis ex eum
      vitae nesciunt nemo voluptatem, adipisci nihil excepturi dolorem a esse?
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere ex quas
      quasi quaerat eos. Unde veniam reprehenderit, rem eaque eligendi optio
      animi tempore! Voluptate quisquam nulla fuga velit, totam animi?
    </p>

    <div class="text-center">
        <a class="btn btn-outline-success" href="/signin/">Signin</a>
        <a class="btn btn-dark" href="/signup/">Signup</a>
    </div>
  </section>
</main>
{% endblock %}
